@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
    width: 6rem;
    height: 6rem;
    background-color: rgb(255, 234, 0);
}
.square2 {
    width: 6rem;
    height: 6rem;
    background-color: rgb(255, 0, 111);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Remove overflow: hidden; to enable browser scroll */
}

#root {
    height: 100%;
}

.scroll-container {
    height: calc(100vh - 0px); /* Adjust this based on the footer height */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll-section {
    scroll-snap-align: start;
    height: 100vh;
}

.footer-container {
    height: 150px; /* Adjust this based on the actual footer height */
    scroll-snap-align: end;
}
